# SUPABASE
NEXT_PUBLIC_SUPABASE_URL="https://TU-PROYECTO.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="TU_PUBLIC_KEY"
NEXT_PUBLIC_API_URL="TU_API_URL"

# WHATSAPP PARA DIRIGIR AL CLIENTE
NEXT_PUBLIC_WHATSAPP_NUMBER="18492757807"
NEXT_PUBLIC_WHATSAPP_URL="https://wa.link/wfuodm"
